node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
functions/node_modules/
functions/lib/

.vercel

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
